
<!-- <div class="cards">

  <div class="card-category"> -->
<h1> Fancy Cocktails </h1>
<h2>Just make your own one!</h2>

  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= link_to cocktail.name, cocktail_path(cocktail) %></td>
      </tr>
    <% end %>
  </tbody>



<%= link_to 'New Cocktail', new_cocktail_path, class: "btn btn-ghost" %>




